vbencek_aplikacija_1/src/wsdl/nwtis.foi.hr_8080/NWTiS_2020/AerodromiWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.dkermek.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.dkermek.nwtis.foi.org/" name="AerodromiWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.dkermek.nwtis.foi.org/" schemaLocation="http://nwtis.foi.hr:8080/NWTiS_2020/AerodromiWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajTrajanjeCiklusa">
<part name="parameters" element="tns:dajTrajanjeCiklusa"/>
</message>
<message name="dajTrajanjeCiklusaResponse">
<part name="parameters" element="tns:dajTrajanjeCiklusaResponse"/>
</message>
<message name="promjeniTrajanjeCiklusa">
<part name="parameters" element="tns:promjeniTrajanjeCiklusa"/>
</message>
<message name="promjeniTrajanjeCiklusaResponse">
<part name="parameters" element="tns:promjeniTrajanjeCiklusaResponse"/>
</message>
<message name="dajBrojPoruka">
<part name="parameters" element="tns:dajBrojPoruka"/>
</message>
<message name="dajBrojPorukaResponse">
<part name="parameters" element="tns:dajBrojPorukaResponse"/>
</message>
<message name="promjeniBrojPoruka">
<part name="parameters" element="tns:promjeniBrojPoruka"/>
</message>
<message name="promjeniBrojPorukaResponse">
<part name="parameters" element="tns:promjeniBrojPorukaResponse"/>
</message>
<message name="dodajNoviAerodromGrupi">
<part name="parameters" element="tns:dodajNoviAerodromGrupi"/>
</message>
<message name="dodajNoviAerodromGrupiResponse">
<part name="parameters" element="tns:dodajNoviAerodromGrupiResponse"/>
</message>
<message name="dajSveAerodromeGrupe">
<part name="parameters" element="tns:dajSveAerodromeGrupe"/>
</message>
<message name="dajSveAerodromeGrupeResponse">
<part name="parameters" element="tns:dajSveAerodromeGrupeResponse"/>
</message>
<message name="registrirajGrupu">
<part name="parameters" element="tns:registrirajGrupu"/>
</message>
<message name="registrirajGrupuResponse">
<part name="parameters" element="tns:registrirajGrupuResponse"/>
</message>
<message name="deregistrirajGrupu">
<part name="parameters" element="tns:deregistrirajGrupu"/>
</message>
<message name="deregistrirajGrupuResponse">
<part name="parameters" element="tns:deregistrirajGrupuResponse"/>
</message>
<message name="blokirajGrupu">
<part name="parameters" element="tns:blokirajGrupu"/>
</message>
<message name="blokirajGrupuResponse">
<part name="parameters" element="tns:blokirajGrupuResponse"/>
</message>
<message name="aktivirajGrupu">
<part name="parameters" element="tns:aktivirajGrupu"/>
</message>
<message name="aktivirajGrupuResponse">
<part name="parameters" element="tns:aktivirajGrupuResponse"/>
</message>
<message name="dajStatusGrupe">
<part name="parameters" element="tns:dajStatusGrupe"/>
</message>
<message name="dajStatusGrupeResponse">
<part name="parameters" element="tns:dajStatusGrupeResponse"/>
</message>
<message name="dodajAerodromGrupi">
<part name="parameters" element="tns:dodajAerodromGrupi"/>
</message>
<message name="dodajAerodromGrupiResponse">
<part name="parameters" element="tns:dodajAerodromGrupiResponse"/>
</message>
<message name="dajSveAvioneAerodroma">
<part name="parameters" element="tns:dajSveAvioneAerodroma"/>
</message>
<message name="dajSveAvioneAerodromaResponse">
<part name="parameters" element="tns:dajSveAvioneAerodromaResponse"/>
</message>
<message name="postaviAvioneGrupe">
<part name="parameters" element="tns:postaviAvioneGrupe"/>
</message>
<message name="postaviAvioneGrupeResponse">
<part name="parameters" element="tns:postaviAvioneGrupeResponse"/>
</message>
<message name="dodajAvionGrupi">
<part name="parameters" element="tns:dodajAvionGrupi"/>
</message>
<message name="dodajAvionGrupiResponse">
<part name="parameters" element="tns:dodajAvionGrupiResponse"/>
</message>
<message name="ucitajUgradeneAvioneGrupe">
<part name="parameters" element="tns:ucitajUgradeneAvioneGrupe"/>
</message>
<message name="ucitajUgradeneAvioneGrupeResponse">
<part name="parameters" element="tns:ucitajUgradeneAvioneGrupeResponse"/>
</message>
<message name="autenticirajGrupu">
<part name="parameters" element="tns:autenticirajGrupu"/>
</message>
<message name="autenticirajGrupuResponse">
<part name="parameters" element="tns:autenticirajGrupuResponse"/>
</message>
<message name="obrisiSveAerodromeGrupe">
<part name="parameters" element="tns:obrisiSveAerodromeGrupe"/>
</message>
<message name="obrisiSveAerodromeGrupeResponse">
<part name="parameters" element="tns:obrisiSveAerodromeGrupeResponse"/>
</message>
<message name="ucitajUgradeneAerodromeGrupe">
<part name="parameters" element="tns:ucitajUgradeneAerodromeGrupe"/>
</message>
<message name="ucitajUgradeneAerodromeGrupeResponse">
<part name="parameters" element="tns:ucitajUgradeneAerodromeGrupeResponse"/>
</message>
<message name="dajStatusAerodromaGrupe">
<part name="parameters" element="tns:dajStatusAerodromaGrupe"/>
</message>
<message name="dajStatusAerodromaGrupeResponse">
<part name="parameters" element="tns:dajStatusAerodromaGrupeResponse"/>
</message>
<message name="blokirajAerodromGrupe">
<part name="parameters" element="tns:blokirajAerodromGrupe"/>
</message>
<message name="blokirajAerodromGrupeResponse">
<part name="parameters" element="tns:blokirajAerodromGrupeResponse"/>
</message>
<message name="aktivirajAerodromGrupe">
<part name="parameters" element="tns:aktivirajAerodromGrupe"/>
</message>
<message name="aktivirajAerodromGrupeResponse">
<part name="parameters" element="tns:aktivirajAerodromGrupeResponse"/>
</message>
<message name="obrisiAerodromGrupe">
<part name="parameters" element="tns:obrisiAerodromGrupe"/>
</message>
<message name="obrisiAerodromGrupeResponse">
<part name="parameters" element="tns:obrisiAerodromGrupeResponse"/>
</message>
<message name="aktivirajOdabraneAerodromeGrupe">
<part name="parameters" element="tns:aktivirajOdabraneAerodromeGrupe"/>
</message>
<message name="aktivirajOdabraneAerodromeGrupeResponse">
<part name="parameters" element="tns:aktivirajOdabraneAerodromeGrupeResponse"/>
</message>
<message name="blokirajOdabraneAerodromeGrupe">
<part name="parameters" element="tns:blokirajOdabraneAerodromeGrupe"/>
</message>
<message name="blokirajOdabraneAerodromeGrupeResponse">
<part name="parameters" element="tns:blokirajOdabraneAerodromeGrupeResponse"/>
</message>
<message name="obrisiOdabraneAerodromeGrupe">
<part name="parameters" element="tns:obrisiOdabraneAerodromeGrupe"/>
</message>
<message name="obrisiOdabraneAerodromeGrupeResponse">
<part name="parameters" element="tns:obrisiOdabraneAerodromeGrupeResponse"/>
</message>
<message name="dodajAerodromIcaoGrupi">
<part name="parameters" element="tns:dodajAerodromIcaoGrupi"/>
</message>
<message name="dodajAerodromIcaoGrupiResponse">
<part name="parameters" element="tns:dodajAerodromIcaoGrupiResponse"/>
</message>
<portType name="AerodromiWS">
<operation name="dajTrajanjeCiklusa">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajTrajanjeCiklusaRequest" message="tns:dajTrajanjeCiklusa"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajTrajanjeCiklusaResponse" message="tns:dajTrajanjeCiklusaResponse"/>
</operation>
<operation name="promjeniTrajanjeCiklusa">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/promjeniTrajanjeCiklusaRequest" message="tns:promjeniTrajanjeCiklusa"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/promjeniTrajanjeCiklusaResponse" message="tns:promjeniTrajanjeCiklusaResponse"/>
</operation>
<operation name="dajBrojPoruka">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajBrojPorukaRequest" message="tns:dajBrojPoruka"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajBrojPorukaResponse" message="tns:dajBrojPorukaResponse"/>
</operation>
<operation name="promjeniBrojPoruka">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/promjeniBrojPorukaRequest" message="tns:promjeniBrojPoruka"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/promjeniBrojPorukaResponse" message="tns:promjeniBrojPorukaResponse"/>
</operation>
<operation name="dodajNoviAerodromGrupi">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajNoviAerodromGrupiRequest" message="tns:dodajNoviAerodromGrupi"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajNoviAerodromGrupiResponse" message="tns:dodajNoviAerodromGrupiResponse"/>
</operation>
<operation name="dajSveAerodromeGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajSveAerodromeGrupeRequest" message="tns:dajSveAerodromeGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajSveAerodromeGrupeResponse" message="tns:dajSveAerodromeGrupeResponse"/>
</operation>
<operation name="registrirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/registrirajGrupuRequest" message="tns:registrirajGrupu"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/registrirajGrupuResponse" message="tns:registrirajGrupuResponse"/>
</operation>
<operation name="deregistrirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/deregistrirajGrupuRequest" message="tns:deregistrirajGrupu"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/deregistrirajGrupuResponse" message="tns:deregistrirajGrupuResponse"/>
</operation>
<operation name="blokirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/blokirajGrupuRequest" message="tns:blokirajGrupu"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/blokirajGrupuResponse" message="tns:blokirajGrupuResponse"/>
</operation>
<operation name="aktivirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/aktivirajGrupuRequest" message="tns:aktivirajGrupu"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/aktivirajGrupuResponse" message="tns:aktivirajGrupuResponse"/>
</operation>
<operation name="dajStatusGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajStatusGrupeRequest" message="tns:dajStatusGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajStatusGrupeResponse" message="tns:dajStatusGrupeResponse"/>
</operation>
<operation name="dodajAerodromGrupi">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajAerodromGrupiRequest" message="tns:dodajAerodromGrupi"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajAerodromGrupiResponse" message="tns:dodajAerodromGrupiResponse"/>
</operation>
<operation name="dajSveAvioneAerodroma">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajSveAvioneAerodromaRequest" message="tns:dajSveAvioneAerodroma"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajSveAvioneAerodromaResponse" message="tns:dajSveAvioneAerodromaResponse"/>
</operation>
<operation name="postaviAvioneGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/postaviAvioneGrupeRequest" message="tns:postaviAvioneGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/postaviAvioneGrupeResponse" message="tns:postaviAvioneGrupeResponse"/>
</operation>
<operation name="dodajAvionGrupi">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajAvionGrupiRequest" message="tns:dodajAvionGrupi"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajAvionGrupiResponse" message="tns:dodajAvionGrupiResponse"/>
</operation>
<operation name="ucitajUgradeneAvioneGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/ucitajUgradeneAvioneGrupeRequest" message="tns:ucitajUgradeneAvioneGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/ucitajUgradeneAvioneGrupeResponse" message="tns:ucitajUgradeneAvioneGrupeResponse"/>
</operation>
<operation name="autenticirajGrupu">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/autenticirajGrupuRequest" message="tns:autenticirajGrupu"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/autenticirajGrupuResponse" message="tns:autenticirajGrupuResponse"/>
</operation>
<operation name="obrisiSveAerodromeGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/obrisiSveAerodromeGrupeRequest" message="tns:obrisiSveAerodromeGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/obrisiSveAerodromeGrupeResponse" message="tns:obrisiSveAerodromeGrupeResponse"/>
</operation>
<operation name="ucitajUgradeneAerodromeGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/ucitajUgradeneAerodromeGrupeRequest" message="tns:ucitajUgradeneAerodromeGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/ucitajUgradeneAerodromeGrupeResponse" message="tns:ucitajUgradeneAerodromeGrupeResponse"/>
</operation>
<operation name="dajStatusAerodromaGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajStatusAerodromaGrupeRequest" message="tns:dajStatusAerodromaGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dajStatusAerodromaGrupeResponse" message="tns:dajStatusAerodromaGrupeResponse"/>
</operation>
<operation name="blokirajAerodromGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/blokirajAerodromGrupeRequest" message="tns:blokirajAerodromGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/blokirajAerodromGrupeResponse" message="tns:blokirajAerodromGrupeResponse"/>
</operation>
<operation name="aktivirajAerodromGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/aktivirajAerodromGrupeRequest" message="tns:aktivirajAerodromGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/aktivirajAerodromGrupeResponse" message="tns:aktivirajAerodromGrupeResponse"/>
</operation>
<operation name="obrisiAerodromGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/obrisiAerodromGrupeRequest" message="tns:obrisiAerodromGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/obrisiAerodromGrupeResponse" message="tns:obrisiAerodromGrupeResponse"/>
</operation>
<operation name="aktivirajOdabraneAerodromeGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/aktivirajOdabraneAerodromeGrupeRequest" message="tns:aktivirajOdabraneAerodromeGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/aktivirajOdabraneAerodromeGrupeResponse" message="tns:aktivirajOdabraneAerodromeGrupeResponse"/>
</operation>
<operation name="blokirajOdabraneAerodromeGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/blokirajOdabraneAerodromeGrupeRequest" message="tns:blokirajOdabraneAerodromeGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/blokirajOdabraneAerodromeGrupeResponse" message="tns:blokirajOdabraneAerodromeGrupeResponse"/>
</operation>
<operation name="obrisiOdabraneAerodromeGrupe">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/obrisiOdabraneAerodromeGrupeRequest" message="tns:obrisiOdabraneAerodromeGrupe"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/obrisiOdabraneAerodromeGrupeResponse" message="tns:obrisiOdabraneAerodromeGrupeResponse"/>
</operation>
<operation name="dodajAerodromIcaoGrupi">
<input wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajAerodromIcaoGrupiRequest" message="tns:dodajAerodromIcaoGrupi"/>
<output wsam:Action="http://serveri.ws.dkermek.nwtis.foi.org/AerodromiWS/dodajAerodromIcaoGrupiResponse" message="tns:dodajAerodromIcaoGrupiResponse"/>
</operation>
</portType>
<binding name="AerodromiWSPortBinding" type="tns:AerodromiWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajTrajanjeCiklusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="promjeniTrajanjeCiklusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajBrojPoruka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="promjeniBrojPoruka">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajNoviAerodromGrupi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveAerodromeGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrirajGrupu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deregistrirajGrupu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blokirajGrupu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aktivirajGrupu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajStatusGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajAerodromGrupi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveAvioneAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="postaviAvioneGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajAvionGrupi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ucitajUgradeneAvioneGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticirajGrupu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obrisiSveAerodromeGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ucitajUgradeneAerodromeGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajStatusAerodromaGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blokirajAerodromGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aktivirajAerodromGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obrisiAerodromGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="aktivirajOdabraneAerodromeGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="blokirajOdabraneAerodromeGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="obrisiOdabraneAerodromeGrupe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajAerodromIcaoGrupi">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AerodromiWS">
<port name="AerodromiWSPort" binding="tns:AerodromiWSPortBinding">
<soap:address location="http://nwtis.foi.hr:8080/NWTiS_2020/AerodromiWS"/>
</port>
</service>
</definitions>