vbencek_web_3/src/wsdl/localhost_8084/vbencek_web_2/ProjektWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.web.vbencek.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.web.vbencek.nwtis.foi.org/" name="ProjektWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.web.vbencek.nwtis.foi.org/" schemaLocation="http://localhost:8084/vbencek_web_2/ProjektWS?xsd=1"/>
</xsd:schema>
</types>
<message name="letoviAviona">
<part name="parameters" element="tns:letoviAviona"/>
</message>
<message name="letoviAvionaResponse">
<part name="parameters" element="tns:letoviAvionaResponse"/>
</message>
<message name="provjeraKorisnika">
<part name="parameters" element="tns:provjeraKorisnika"/>
</message>
<message name="provjeraKorisnikaResponse">
<part name="parameters" element="tns:provjeraKorisnikaResponse"/>
</message>
<message name="poletjeliAvioniAerodrom">
<part name="parameters" element="tns:poletjeliAvioniAerodrom"/>
</message>
<message name="poletjeliAvioniAerodromResponse">
<part name="parameters" element="tns:poletjeliAvioniAerodromResponse"/>
</message>
<message name="izracunajUdaljenostAerodroma">
<part name="parameters" element="tns:izracunajUdaljenostAerodroma"/>
</message>
<message name="izracunajUdaljenostAerodromaResponse">
<part name="parameters" element="tns:izracunajUdaljenostAerodromaResponse"/>
</message>
<message name="dohvatiAerodromeNaziv">
<part name="parameters" element="tns:dohvatiAerodromeNaziv"/>
</message>
<message name="dohvatiAerodromeNazivResponse">
<part name="parameters" element="tns:dohvatiAerodromeNazivResponse"/>
</message>
<message name="dohvatiAerodromeDrzava">
<part name="parameters" element="tns:dohvatiAerodromeDrzava"/>
</message>
<message name="dohvatiAerodromeDrzavaResponse">
<part name="parameters" element="tns:dohvatiAerodromeDrzavaResponse"/>
</message>
<message name="dohvatiAerodromeKorisnika">
<part name="parameters" element="tns:dohvatiAerodromeKorisnika"/>
</message>
<message name="dohvatiAerodromeKorisnikaResponse">
<part name="parameters" element="tns:dohvatiAerodromeKorisnikaResponse"/>
</message>
<message name="dajBliskeAerodrome">
<part name="parameters" element="tns:dajBliskeAerodrome"/>
</message>
<message name="dajBliskeAerodromeResponse">
<part name="parameters" element="tns:dajBliskeAerodromeResponse"/>
</message>
<portType name="ProjektWS">
<operation name="letoviAviona">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/letoviAvionaRequest" message="tns:letoviAviona"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/letoviAvionaResponse" message="tns:letoviAvionaResponse"/>
</operation>
<operation name="provjeraKorisnika">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/provjeraKorisnikaRequest" message="tns:provjeraKorisnika"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/provjeraKorisnikaResponse" message="tns:provjeraKorisnikaResponse"/>
</operation>
<operation name="poletjeliAvioniAerodrom">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/poletjeliAvioniAerodromRequest" message="tns:poletjeliAvioniAerodrom"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/poletjeliAvioniAerodromResponse" message="tns:poletjeliAvioniAerodromResponse"/>
</operation>
<operation name="izracunajUdaljenostAerodroma">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/izracunajUdaljenostAerodromaRequest" message="tns:izracunajUdaljenostAerodroma"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/izracunajUdaljenostAerodromaResponse" message="tns:izracunajUdaljenostAerodromaResponse"/>
</operation>
<operation name="dohvatiAerodromeNaziv">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dohvatiAerodromeNazivRequest" message="tns:dohvatiAerodromeNaziv"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dohvatiAerodromeNazivResponse" message="tns:dohvatiAerodromeNazivResponse"/>
</operation>
<operation name="dohvatiAerodromeDrzava">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dohvatiAerodromeDrzavaRequest" message="tns:dohvatiAerodromeDrzava"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dohvatiAerodromeDrzavaResponse" message="tns:dohvatiAerodromeDrzavaResponse"/>
</operation>
<operation name="dohvatiAerodromeKorisnika">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dohvatiAerodromeKorisnikaRequest" message="tns:dohvatiAerodromeKorisnika"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dohvatiAerodromeKorisnikaResponse" message="tns:dohvatiAerodromeKorisnikaResponse"/>
</operation>
<operation name="dajBliskeAerodrome">
<input wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dajBliskeAerodromeRequest" message="tns:dajBliskeAerodrome"/>
<output wsam:Action="http://serveri.web.vbencek.nwtis.foi.org/ProjektWS/dajBliskeAerodromeResponse" message="tns:dajBliskeAerodromeResponse"/>
</operation>
</portType>
<binding name="ProjektWSPortBinding" type="tns:ProjektWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="letoviAviona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="provjeraKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="poletjeliAvioniAerodrom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="izracunajUdaljenostAerodroma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiAerodromeNaziv">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiAerodromeDrzava">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dohvatiAerodromeKorisnika">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajBliskeAerodrome">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProjektWS">
<port name="ProjektWSPort" binding="tns:ProjektWSPortBinding">
<soap:address location="http://localhost:8084/vbencek_web_2/ProjektWS"/>
</port>
</service>
</definitions>